/*---------- Fonts --------*/
$main-font: 'Kaushan Script', cursive;
$body-font: 'Open Sans', sans-serif;

$font-size: 1rem;
$font-small: 0.7rem;
$font-normal: 0.8rem;

/*---------- Colors ---------*/
$color-1: #0b8afc;
$color-2:  black;
$color-3: #012441; // Dark blue
$color-4: #2b4351; // blue gray
$color-5: #c9897d; // Pink
$color-6: #b4ac83; // Tan
$color-7: rgba(11, 138, 252, 0.702);

/* images */
$boat: url(../images/yves_guillou_boat.svg);
$fish: url(../images/bxGTTaR-bubbling-cartoon-fish-vector.svg);